rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to eCards collection
    match /eCards/{document=**} {
      allow read, write: if true;
    }
    
    // Allow read/write access to bouquets collection
    match /bouquets/{document=**} {
      allow read, write: if true;
    }
  }
} 